$primary-color: #542E90 ;
$primary-color: #542E90;
$secand-color: #E09B00;
$secondary-color: #fff100;
$text-color: #575756;
$color-white: #eee;
$color-main:#D9D9D9;

.price-color {
    color: $primary-color;
}

.price-bg {
    background-color: $primary-color;
}
.price-bg:hover {
    background-color: $primary-color;
}
.btn-bg {
    background-color: $secondary-color;
}

.btn-bg:hover {
    background-color: $secondary-color;
}
.modal {
    .modal-body {
        overflow: auto;
    }

    .modal-dialog {
        margin: auto;
        margin-right: 0;
    }

    .modal-content {
        height: 735px;
    }
}

.model-color {
    color: $primary-color;
}

.bordercart {
    border: 1px solid $color-white;
}